.map {
  padding-inline: 0.625rem;
  padding-block: 7.5rem;

  iframe {
    display: grid;
    place-content: center;
    width: 100%;
    height: 30rem;
    max-width: 75rem;
    margin-inline: auto;
    border: 0;
    background-color: var(--clr-neutral-200);
    color: var(--clr-neutral-100);
  }
}
