@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");
:root {
  /* colors */
  --clr-neutral-100: #ffffff;
  --clr-neutral-150: #e0dede;
  --clr-neutral-200: #d8d8d8;
  --clr-neutral-300: #cecece;
  --clr-neutral-400: #a8a8a8;
  --clr-neutral-500: #777777;
  --clr-neutral-600: #6b6b6b;
  --clr-neutral-700: #4c4c4c;
  --clr-neutral-800: #0a0a0a;
  --clr-neutral-900: #000000;
  /* typography */
  --ff-primary: "Poppins", sans-serif;
  --ff-secondary: "Jost", sans-serif;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fs-xs: 0.9375rem; /* 15px */
  --fs-sm: 1rem; /* 16px */
  --fs-md: 1.125rem; /* 18px */
  --fs-lg: 1.25rem; /* 20px */
  --fs-xl: 1.625rem; /* 26px */
  --fs-2xl: 1.875rem; /* 30px */
  --fs-3xl: 2.5rem; /* 40px */
  --fs-4xl: 5rem; /* 80px */
  --fs-5xl: 5.5rem; /* 88px */
  --lh-sm: 1.3;
  --lh-lg: 1.9;
  --nav-link-ff: var(--ff-secondary);
  --nav-link-fs: var(--fs-sm);
  --nav-link-fw: var(--fw-600);
  --nav-link-text-clr: var(--clr-neutral-100);
  --nav-link-text-clr-active: var(--clr-neutral-200);
  --hero-heading-ff: var(--ff-secondary);
  --hero-heading-fs: var(--fs-5xl);
  --hero-heading-fw: var(--fw-600);
  --hero-heading-lh: 1.1;
  --hero-heading-text-clr: var(--clr-neutral-100);
  --hero-body-ff: var(--ff-primary);
  --hero-body-fs: var(--fs-2xl);
  --hero-body-fw: var(--fw-400);
  --hero-body-lh: var(--lh-sm);
  --hero-body-text-clr: var(--clr-neutral-100);
  --hero-link-fs: var(--fs-md);
  --hero-link-fw: var(--fw-600);
  --hero-link-lh: var(--lh-sm);
  --hero-link-text-clr: var(--clr-neutral-100);
  --section-heading-ff: var(--ff-secondary);
  --section-heading-fs: var(--fs-3xl);
  --section-heading-fw: var(--fw-400);
  --section-heading-lh: var(--lh-sm);
  --section-heading-text-clr: var(--clr-neutral-900);
  --section-body-ff: var(--ff-primary);
  --section-body-fs: var(--fs-sm);
  --section-body-fw: var(--fw-400);
  --section-body-lh: var(--lh-lg);
  --section-body-text-clr: var(--clr-neutral-700);
  --footer-heading-ff: var(--ff-secondary);
  --footer-heading-fs: var(--fs-xl);
  --footer-heading-fw: var(--fw-500);
  --footer-heading-lh: var(--lh-sm);
  --footer-heading-text-clr: var(--clr-neutral-300);
  --footer-body-ff: var(--ff-primary);
  --footer-body-fs: var(--fs-sm);
  --footer-body-fw: var(--fw-400);
  --footer-body-lh: var(--lh-lg);
  --footer-body-text-clr: var(--clr-neutral-400);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  overflow-x: hidden;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button {
  font: inherit;
  padding: 0;
  border: none;
}

#root {
  isolation: isolate;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: var(--ff-primary);
  line-height: var(--lh-lg);
  color: var(--clr-neutral-700);
}

h2,
h3 {
  font-family: var(--section-heading-ff);
  font-weight: var(--section-heading-fw);
  line-height: var(--section-heading-lh);
  color: var(--section-heading-text-clr);
}

h2 {
  font-size: clamp(var(--fs-2xl), 4vw, var(--section-heading-fs));
}

p {
  font-family: var(--section-body-ff);
  font-size: var(--section-body-fs);
  font-weight: var(--section-body-fw);
  line-height: var(--section-body-lh);
  color: var(--section-body-text-clr);
}

li > a {
  font-family: var(--nav-link-ff);
  font-size: var(--nav-link-fs);
  font-weight: var(--nav-link-fw);
  color: var(--nav-link-text-clr);
  text-transform: uppercase;
}

.search {
  position: relative;
}
.search__button {
  display: none;
  cursor: pointer;
}
@media (min-width: 64em) {
  .search__button {
    display: grid;
    place-content: center;
    background-color: transparent;
  }
}
.search__icon {
  width: 1.5rem;
  aspect-ratio: 1;
  fill: var(--clr-neutral-100);
}
.search__form {
  position: absolute;
  right: 2.5rem;
  transition: all 300ms ease-in-out;
}
.search__form.open {
  opacity: 1;
  width: 31.25rem;
  height: 3.75rem;
}
.search__form.closed {
  height: 0;
  width: 0;
  opacity: 0;
  overflow: hidden;
}
.search__input-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 1.875rem 0 rgba(0, 0, 0, 0.1019607843);
}
.search__input {
  width: 100%;
  height: 100%;
  padding: 0.625rem 1.5625rem;
  border-color: transparent;
  color: var(--clr-neutral-600);
}
.search__input:disabled {
  background-color: var(--clr-neutral-100);
}
.search__submit {
  display: grid;
  place-content: center;
  width: 3.75rem;
  height: 100%;
  background-color: var(--clr-neutral-900);
  cursor: pointer;
}
.search__submit-icon {
  width: 1rem;
  aspect-ratio: 1;
  fill: var(--clr-neutral-100);
}

.common-link {
  position: relative;
  padding-right: 4.0625rem;
  font-family: var(--ff-secondary);
  font-weight: var(--fw-600);
  color: var(--clr-neutral-600);
  text-transform: uppercase;
  transition: color 300ms ease-in-out;
}
@media (min-width: 40em) {
  .common-link {
    padding-right: 6.25rem;
  }
}
@media (min-width: 87.5em) {
  .common-link {
    padding-right: 7.1875rem;
  }
}
.common-link:hover, .common-link:focus-visible {
  color: var(--clr-neutral-900);
}
.common-link:hover::before {
  right: 1.25rem;
  width: 1.875rem;
  background-color: var(--clr-neutral-900);
}
@media (min-width: 40em) {
  .common-link:hover::before {
    width: 4.375rem;
  }
}
@media (min-width: 87.5em) {
  .common-link:hover::before {
    width: 5rem;
  }
}
.common-link::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  width: 3.125rem;
  height: 0.0625rem;
  background-color: var(--clr-neutral-600);
  transform: translateY(-50%);
  transition: all 300ms ease-in-out;
}
@media (min-width: 40em) {
  .common-link::before {
    width: 5.625rem;
  }
}
@media (min-width: 87.5em) {
  .common-link::before {
    width: 6.25rem;
  }
}

.back-to-top {
  display: grid;
  place-content: center;
  position: fixed;
  bottom: 2.5rem;
  right: 1.25rem;
  z-index: 10;
  width: 2.5rem;
  aspect-ratio: 1;
  border-radius: 4px;
  background-color: var(--clr-neutral-900);
  overflow: hidden;
  cursor: pointer;
}
@media not (prefers-reduced-motion) {
  .back-to-top:hover .back-to-top__icon {
    animation: outTopInBottom 500ms forwards;
  }
}
.back-to-top__icon {
  width: 1rem;
  aspect-ratio: 1;
  fill: var(--clr-neutral-100);
}
@keyframes outTopInBottom {
  49% {
    transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}

.brand-scroller {
  background: #f7f7f7;
  padding-block: 2.5rem;
}
.brand-scroller__wrapper {
  max-width: 75rem;
  margin-inline: auto;
}
.brand-scroller__inner {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding-block: 0.5rem;
  user-select: none;
}
.brand-scroller__img {
  width: 8.4375rem;
}
.brand-scroller__wrapper[data-animated=true] {
  overflow: hidden;
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
.brand-scroller__wrapper[data-animated=true] .brand-scroller__inner {
  width: max-content;
  animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}
.brand-scroller__wrapper[data-direction=right] {
  --_animation-direction: reverse;
}
.brand-scroller__wrapper[data-direction=left] {
  --_animation-direction: forwards;
}
.brand-scroller__wrapper[data-speed=fast] {
  --_animation-duration: 20s;
}
.brand-scroller__wrapper[data-speed=slow] {
  --_animation-duration: 60s;
}
@keyframes scroll {
  to {
    transform: translate(calc(-50% - 2rem));
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding-block: 1.5rem;
  padding-inline: 1.25rem;
  background-color: transparent;
  z-index: 10;
  transition: background-color 300ms ease-in-out;
}
@media (min-width: 40em) {
  .header {
    padding-inline: 6.5625rem;
  }
}
.header--sticking {
  background-color: var(--clr-neutral-900);
}
.header__logo {
  width: 8.4375rem;
}

.nav {
  display: none;
}
@media (min-width: 64em) {
  .nav {
    display: block;
  }
}
.nav__list {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.nav__link.active {
  color: var(--clr-neutral-200);
}
.nav__link:hover {
  color: var(--clr-neutral-100);
}

@media (min-width: 64em) {
  .menu {
    display: none;
  }
}
.menu__overlay {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: var(--clr-neutral-900);
  opacity: 0.6;
  transition: all 500ms ease-in-out;
}
.menu__overlay.open {
  right: 0;
}
.menu__overlay.closed {
  right: -100%;
}
.menu__header {
  display: flex;
  justify-content: end;
  margin-bottom: 1.875rem;
}
.menu__hamburger {
  display: grid;
  place-content: center;
  padding: 0.625rem;
  background-color: var(--clr-neutral-900);
  cursor: pointer;
}
.menu__hamburger-icon {
  width: 2.5rem;
  aspect-ratio: 1;
  fill: var(--clr-neutral-100);
}
.menu__close {
  display: grid;
  place-content: center;
  padding: 0.625rem;
  background-color: var(--clr-neutral-900);
  cursor: pointer;
}
.menu__close-icon {
  width: 1.5625rem;
  height: 1.25rem;
  fill: var(--clr-neutral-100);
}
.menu__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 20;
  top: 0;
  height: 100vh;
  width: 100%;
  max-width: 40rem;
  padding-block: 1.25rem;
  padding-inline: 1.875rem;
  background-color: var(--clr-neutral-100);
  background-image: url("/src/assets/shared/nav/Sidemenu.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  transition: all 500ms ease-in-out;
}
@media (min-width: 40em) {
  .menu__container {
    transition-delay: 200ms;
  }
}
.menu__container.open {
  right: 0;
}
.menu__container.closed {
  right: -100%;
}
.menu__nav-list {
  display: grid;
  gap: 1rem;
  padding-block: 0.625rem;
}
.menu__nav-item {
  padding-left: 0.625rem;
}
.menu__nav-link {
  font-weight: var(--fw-700);
  font-size: var(--fs-md);
  color: var(--clr-neutral-700);
}
@media (min-width: 40em) {
  .menu__nav-link {
    font-size: var(--fs-lg);
  }
}
.menu__social-list {
  display: flex;
  gap: 0.625rem;
  padding-block: 0.3125rem;
}
.menu__social-link {
  display: grid;
  place-content: center;
  width: 2.1875rem;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: var(--clr-neutral-900);
  transition: all 200ms ease-in-out;
}
.menu__social-link--facebook:hover, .menu__social-link--facebook:focus-visible {
  background-color: #1877f2;
}
.menu__social-link--twitter:hover, .menu__social-link--twitter:focus-visible {
  background-color: #1da1f2;
}
.menu__social-link--linkedin:hover, .menu__social-link--linkedin:focus-visible {
  background-color: #0077b5;
}
.menu__social-link--pinterest:hover, .menu__social-link--pinterest:focus-visible {
  background-color: #e60023;
}
.menu__social-link--instagram:hover, .menu__social-link--instagram:focus-visible {
  background-color: #c13584;
}
.menu__social-icon {
  width: 1.25rem;
  aspect-ratio: 1;
  fill: var(--clr-neutral-100);
}
.menu__attribution {
  font-size: var(--fs-xs);
}
.menu__attribution-link:hover {
  text-decoration: underline;
}

.footer {
  position: relative;
  isolation: isolate;
  padding-top: 8.125rem;
  padding-inline: 0.9375rem;
  font-family: var(--footer-body-ff);
  color: var(--footer-body-text-clr);
  background-image: url("/src/assets/shared/footer/banner2.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}
@media (min-width: 87.5em) {
  .footer {
    padding-inline: 0;
  }
}
.footer::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -10;
  background-color: var(--clr-neutral-900);
  opacity: 0.8;
}
.footer__top {
  padding-bottom: 5.9375rem;
  border-bottom: 1px solid var(--clr-neutral-500);
}
.footer__top-wrapper {
  display: grid;
  gap: 2.9375rem;
  max-width: 33.75rem;
  margin-inline: auto;
}
@media (min-width: 40em) {
  .footer__top-wrapper {
    grid-template-columns: repeat(2, 1fr);
    max-width: 45rem;
  }
}
@media (min-width: 64em) {
  .footer__top-wrapper {
    grid-template-columns: repeat(4, 1fr);
    max-width: 75rem;
  }
}
.footer__section-container {
  display: grid;
  gap: 0.9375rem;
}
.footer__heading {
  font-family: var(--footer-heading-ff);
  font-size: var(--footer-heading-fs);
  font-weight: var(--footer-heading-fw);
  line-height: var(--footer-heading-lh);
  color: var(--footer-heading-text-clr);
  margin-bottom: 1.875rem;
}
.footer__logo {
  width: 8.4375rem;
  margin-bottom: 1.25rem;
}
.footer__desc {
  color: var(--footer-body-text-clr);
}
.footer__socials {
  display: flex;
  gap: 1.25rem;
}
.footer__social {
  display: grid;
  place-content: center;
}
.footer__social-icon {
  width: 1.25rem;
  aspect-ratio: 1;
  fill: var(--clr-neutral-400);
  transition: all 300ms ease-in-out;
}
.footer__social-icon:hover {
  fill: var(--clr-neutral-100);
}
.footer__address {
  color: inherit;
}
.footer__tel {
  font-size: var(--fs-xl);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-500);
  color: inherit;
  transition: all 300ms ease-in-out;
}
.footer__tel:hover {
  color: var(--clr-neutral-100);
}
.footer__email {
  color: inherit;
  transition: all 300ms ease-in-out;
}
.footer__email:hover {
  color: var(--clr-neutral-100);
}
.footer__links {
  display: grid;
  gap: 0.625rem;
}
.footer__link {
  font-family: inherit;
  font-weight: inherit;
  text-transform: capitalize;
  color: inherit;
  transition: all 300ms ease-in-out;
}
.footer__link:hover {
  color: var(--clr-neutral-100);
}
.footer__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.3125rem;
  max-width: 28.9375rem;
}
@media (min-width: 40em) {
  .footer__gallery {
    max-width: 20.625rem;
  }
}
.footer__project {
  position: relative;
  overflow: hidden;
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
.footer__project::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 1;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.3) 100%);
  transform: skewX(-25deg);
}
.footer__project:hover::before {
  animation: shine 750ms;
}
.footer__bottom {
  text-align: center;
  padding-block: 0.9375rem;
}
.footer__attribution {
  color: var(--clr-neutral-300);
}
.footer__attribution-link {
  color: var(--clr-neutral-300);
  transition: all 300ms ease-in-out;
}
.footer__attribution-link:hover {
  color: var(--clr-neutral-100);
}

.skip-link:focus-visible {
  top: 0;
  left: 0;
  border: 1px solid var(--clr-neutral-900);
  background-color: var(--clr-neutral-100);
  padding: 0.5rem;
  width: auto;
  height: auto;
  margin: 0;
  clip: unset;
  text-decoration: none;
  color: var(--clr-neutral-900);
  z-index: 1000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.hero {
  height: 100dvh;
  background-color: var(--clr-neutral-600);
}
.hero__slider {
  position: relative;
  width: 100%;
  height: 100%;
}
.hero__slider-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.hero__slider-btns {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  position: absolute;
  top: 50%;
  right: 5%;
}
@media (min-width: 40em) {
  .hero__slider-btns {
    right: 10%;
  }
}
@media (min-width: 87.5em) {
  .hero__slider-btns {
    right: 18%;
  }
}
.hero__slider-btn {
  position: relative;
  font-weight: var(--fw-600);
  font-size: var(--fs-md);
  color: var(--clr-neutral-100);
  background: transparent;
  opacity: 0.4;
  user-select: none;
  cursor: pointer;
}
@media not (prefers-reduced-motion) {
  .hero__slider-btn {
    transition: all 300ms ease-in-out;
  }
}
.hero__slider-btn:hover:not(.active), .hero__slider-btn:focus-visible:not(.active) {
  opacity: 0.7;
  scale: 1.2;
}
.hero__slider-btn.active {
  opacity: 1;
  font-size: var(--fs-xl);
}
.hero__slider-btn.active::before {
  width: 2.5rem;
}
@media (min-width: 40em) {
  .hero__slider-btn::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 3.75rem;
    width: 0;
    height: 0.1875rem;
    background-color: var(--clr-neutral-100);
    transform: translateY(-50%);
  }
}
@media (min-width: 40em) and (not (prefers-reduced-motion)) {
  .hero__slider-btn::before {
    transition: all 300ms ease-in-out;
  }
}
.hero__slide {
  display: grid;
  place-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding-inline: 0.9375rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  isolation: isolate;
}
@media not (prefers-reduced-motion) {
  .hero__slide {
    transition: opacity 500ms ease-in-out;
  }
}
.hero__slide::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: var(--clr-neutral-900);
  opacity: 0.5;
}
.hero__text {
  padding-right: 2.5rem;
}
.hero__heading {
  max-width: 56.25rem;
  margin-bottom: 1rem;
  font-family: var(--hero-heading-ff);
  font-size: clamp(1.5625rem, 8vw, var(--hero-heading-fs));
  font-weight: var(--hero-heading-fw);
  line-height: var(--hero-heading-lh);
  color: var(--hero-heading-text-clr);
}
.hero__body {
  width: fit-content;
  margin-bottom: 1rem;
  font-family: var(--hero-body-ff);
  font-size: clamp(0.875rem, 3.5vw, var(--hero-body-fs));
  font-weight: var(--hero-body-fw);
  line-height: var(--hero-body-lh);
  color: var(--hero-body-text-clr);
}
.hero__link {
  font-size: var(--hero-link-fs);
  font-weight: var(--hero-link-fw);
  line-height: var(--hero-link-lh);
  color: var(--hero-link-text-clr);
}
.hero__link:hover, .hero__link:focus-visible {
  color: var(--clr-neutral-300);
}
.hero__link:hover::before {
  background-color: var(--clr-neutral-300);
}
.hero__link::before {
  background-color: var(--clr-neutral-100);
}

.story {
  padding-block: 7.5rem;
  padding-inline: 0.625rem;
}
.story__container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 1.25rem;
  max-width: 75rem;
  padding: 4.375rem 1.875rem 3.75rem;
  margin-inline: auto;
  background-image: url("/src/assets/home/about1.jpg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
}
@media (min-width: 40em) {
  .story__container {
    grid-template-columns: 1fr 2fr;
    gap: 0;
    padding-top: 5.625rem;
    padding-right: 5rem;
  }
}
.story__button {
  display: grid;
  place-content: center;
  width: fit-content;
  padding: 1.875rem;
  border-radius: 100%;
  background-color: var(--clr-neutral-800);
  transition: background-color 300ms ease-in-out;
}
.story__button:hover {
  background-color: var(--clr-neutral-900);
}
@media (min-width: 40em) {
  .story__button {
    padding: 3.125rem;
  }
}
.story__button-icon {
  width: 2.5rem;
  height: 2.5rem;
  scale: 1;
  fill: var(--clr-neutral-100);
}
@media (min-width: 40em) {
  .story__button-icon {
    scale: 1.5;
  }
}
.story__subheading {
  font-weight: var(--fw-500);
}
.story__heading {
  margin-bottom: 1.25rem;
}
.story__body {
  margin-bottom: 0.9375rem;
}
.story__body:last-of-type {
  margin-bottom: 2.1875rem;
}

.services {
  padding: 7.5rem 0.625rem 3.75rem;
  text-align: center;
}
@media (min-width: 64em) {
  .services {
    padding-inline: 0;
  }
}
.services__wrapper {
  max-width: 120rem;
  margin-inline: auto;
}
.services__grid-container {
  display: grid;
  justify-items: center;
  gap: 1.875rem;
}
@media (min-width: 64em) {
  .services__grid-container {
    grid-template-columns: 1fr 2fr;
  }
}
.services__text {
  max-width: 31.25rem;
  margin-inline: auto;
  margin-bottom: 2.5rem;
}
.services__heading {
  margin-bottom: 0.625rem;
  font-size: clamp(var(--fs-2xl), 4vw, var(--section-heading-fs));
}
.services__img {
  width: 50rem;
  max-width: 100%;
  aspect-ratio: auto 800/702;
}
.services__cards {
  display: grid;
  gap: 1.875rem;
  justify-items: center;
}
@media (min-width: 40em) {
  .services__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
.services-card {
  display: grid;
  justify-items: center;
  position: relative;
  max-width: 36.875rem;
  padding: 3.8125rem 2.1875rem 3.1875rem;
  margin-inline: auto;
  background-color: var(--clr-neutral-100);
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.07);
  isolation: isolate;
}
.services-card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 0;
  height: 100%;
  background-color: var(--clr-neutral-900);
  transition: all 300ms ease-in-out;
}
.services-card:hover::before {
  width: 100%;
}
.services-card:hover .services-card__icon {
  fill: var(--clr-neutral-100);
}
.services-card:hover .services-card__heading {
  color: var(--clr-neutral-100);
}
.services-card:hover .services-card__body {
  color: var(--clr-neutral-100);
}
.services-card__icon {
  width: 3.125rem;
  aspect-ratio: 1;
  transition: fill 300ms ease-in-out;
}
.services-card__heading {
  font-size: var(--fs-xl);
  font-weight: var(--fw-400);
  transition: color 300ms ease-in-out;
}
.services-card__body {
  transition: color 300ms ease-in-out;
}

.our-portfolio {
  padding: 8.125rem 0.625rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.our-portfolio__wrapper {
  max-width: 65.625rem;
  margin-inline: auto;
}
@media (min-width: 87.5em) {
  .our-portfolio__wrapper {
    max-width: 120rem;
  }
}
.our-portfolio__text {
  max-width: 31.25rem;
  margin-inline: auto;
  margin-bottom: 2.5rem;
  text-align: center;
}
.our-portfolio__cards {
  display: grid;
  gap: 1.875rem;
}
@media (min-width: 64em) {
  .our-portfolio__cards {
    gap: 5rem;
  }
}
@media (min-width: 64em) {
  .our-portfolio__cards {
    /* even - img on the left */
  }
  .our-portfolio__cards > :nth-child(even) {
    /* card text container */
    /* card img container */
  }
  .our-portfolio__cards > :nth-child(even) > :nth-child(1) {
    order: 2;
  }
  .our-portfolio__cards > :nth-child(even) > :nth-child(2) {
    margin-left: 6.25rem;
    order: 1;
  }
}
@media (min-width: 87.5em) {
  .our-portfolio__cards {
    /* even - img on the left */
  }
  .our-portfolio__cards > :nth-child(even) {
    /* card text container */
  }
  .our-portfolio__cards > :nth-child(even) > :nth-child(1) {
    margin-left: 0;
    margin-right: calc(100% - 39.0625rem);
  }
}
.our-portfolio-card {
  display: grid;
  justify-items: center;
  gap: 1.875rem;
  width: 100%;
  isolation: isolate;
}
@media (min-width: 64em) {
  .our-portfolio-card {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    align-items: center;
  }
}
.our-portfolio-card__img-container {
  position: relative;
  z-index: 0;
  width: 100%;
}
@media (min-width: 64em) {
  .our-portfolio-card__img-container {
    margin-left: -6.25rem;
  }
}
.our-portfolio-card__img {
  width: 100%;
}
.our-portfolio-card__text {
  max-width: 28.125rem;
  padding: 2.5rem 0 2.1875rem 2.5rem;
  background-color: var(--clr-neutral-100);
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.05);
}
@media (min-width: 40em) {
  .our-portfolio-card__text {
    max-width: 39.375rem;
    padding: 2.8125rem 0 2.5rem 2.8125rem;
  }
}
@media (min-width: 64em) {
  .our-portfolio-card__text {
    margin-inline: 2.5rem;
    padding: 3.9375rem 0 3.9375rem 4.0625rem;
  }
}
@media (min-width: 87.5em) {
  .our-portfolio-card__text {
    position: relative;
    z-index: 1;
    margin-right: 0;
    max-width: none;
    margin-left: calc(100% - 39.0625rem);
  }
}
.our-portfolio-card__text:hover .our-portfolio-card__heading-container::before {
  width: 100%;
}
.our-portfolio-card__heading-container {
  position: relative;
  padding-bottom: 1.25rem;
  margin-bottom: 1.25rem;
  border-bottom: 1px solid var(--clr-neutral-300);
}
.our-portfolio-card__heading-container::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -1px;
  width: 0;
  height: 0.0625rem;
  background-color: var(--clr-neutral-900);
  transition: all 500ms ease-in-out;
}
.our-portfolio-card__heading {
  font-size: clamp(1.375rem, 4vw, 1.75rem);
}
.our-portfolio-card__subheading {
  font-size: clamp(var(--fs-sm), 2vw, 1.125rem);
  font-weight: var(--fw-500);
  line-height: var(--lh-sm);
  color: var(--clr-neutral-600);
}
.our-portfolio-card__summary {
  padding-right: 2.1875rem;
  margin-bottom: 1.25rem;
}
.our-portfolio-card__link {
  font-size: clamp(0.875rem, 2vw, var(--fs-sm));
}

.latest-blog {
  padding: 4.0625rem 0.625rem 8.125rem;
}
@media (min-width: 40em) {
  .latest-blog {
    padding-bottom: 4.0625rem;
  }
}
.latest-blog__wrapper {
  max-width: 75rem;
  margin-inline: auto;
}
.latest-blog__text {
  max-width: 31.25rem;
  margin-inline: auto;
  margin-bottom: 2.5rem;
  text-align: center;
}
.latest-blog__heading {
  margin-bottom: 0.625rem;
}
.latest-blog__cards {
  display: grid;
  gap: 1.875rem;
}
@media (min-width: 64em) {
  .latest-blog__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
.latest-blog-card {
  position: relative;
  max-width: 36.25rem;
  margin-inline: auto;
}
@media (min-width: 40em) {
  .latest-blog-card {
    margin-bottom: 12.5rem;
  }
}
.latest-blog-card:hover .latest-blog-card__img {
  opacity: 0.8;
  transform: scale(1.12) rotate(5deg);
}
@media (min-width: 40em) {
  .latest-blog-card:hover .latest-blog-card__text {
    transform: translateY(-65%);
  }
}
.latest-blog-card__img-container {
  background-color: var(--clr-neutral-900);
  overflow: hidden;
}
.latest-blog-card__img {
  opacity: 1;
  transform: scale(1) rotate(0);
  transition: all 300ms ease-in-out;
}
.latest-blog-card__text {
  display: grid;
  gap: 0.625rem;
  padding: 1.875rem;
  background-color: var(--clr-neutral-100);
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.05);
  transition: all 300ms ease-in-out;
}
@media (min-width: 40em) {
  .latest-blog-card__text {
    position: absolute;
    padding: 3.4375rem 2.1875rem;
    left: 0;
    right: 0;
    margin-inline: 1.5625rem;
    transform: translateY(-60%);
  }
}
.latest-blog-card__list {
  --_spacing-x: 0.8125rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--_spacing-x);
}
@media (max-width: 23.125em) {
  .latest-blog-card__list {
    gap: 0.2rem;
  }
}
.latest-blog-card__list > li {
  transition: color 300ms ease-in-out;
  color: var(--clr-neutral-600);
}
.latest-blog-card__list > li:not(:last-of-type) {
  position: relative;
  padding-right: var(--_spacing-x);
}
.latest-blog-card__list > li:not(:last-of-type)::before {
  content: "/";
  position: absolute;
  top: 0;
  right: 0;
  color: var(--clr-neutral-600);
}
.latest-blog-card__heading {
  font-size: clamp(1.375rem, 4vw, 1.75rem);
}
.latest-blog-card__heading > a {
  color: var(--clr-neutral-900);
}
.latest-blog-card__heading > a:hover {
  color: var(--clr-neutral-500);
}
.latest-blog-card__icon {
  width: 0.9375rem;
  aspect-ratio: 1;
}
.latest-blog-card__author, .latest-blog-card__comment {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.features {
  /* bg */
  /* content */
}
.features__wrapper {
  position: relative;
  width: 100%;
  height: 43.75rem;
  background-color: var(--clr-neutral-900);
  overflow: hidden;
}
.features__backgrounds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.features__backgrounds::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 300ms ease-out;
}
.features__backgrounds--active::before {
  opacity: 1;
}
.features__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1, 1.1);
  transition: all 300ms ease-out;
}
.features__background--show {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.features__items {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.features__items--active .features__item-heading {
  color: var(--clr-neutral-100);
}
.features__item {
  position: relative;
  width: 33.3333333333%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  transition: all 300ms ease-in-out;
}
.features__item:nth-child(1n) .features__item-bg {
  left: 0;
}
.features__item:nth-child(2n) .features__item-bg {
  left: -100%;
}
.features__item:nth-child(3n) .features__item-bg {
  left: -200%;
}
.features__item--hide .features__item-heading {
  color: var(--clr-neutral-400);
}
.features__item--hide .features__item-bg {
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.features__item-bg {
  position: absolute;
  z-index: -2;
  top: 0;
  width: 300%;
  height: 100%;
  background-size: cover;
  transition: all 300ms ease-in-out;
}
.features__item-bg::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.features__item-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 4;
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}
@media (min-width: 40em) {
  .features__item-text {
    transform: rotate(0);
  }
}
.features__item-heading {
  color: var(--clr-neutral-400);
  margin-bottom: 0.3125rem;
  transition: all 300ms ease-in-out;
  font-size: clamp(1.75rem, 3vw, 2.25rem);
  line-height: var(--lh-sm);
}
.features__item-subheading {
  color: var(--clr-neutral-150);
  font-size: clamp(var(--fs-sm), 1.5vw, var(--fs-lg));
  transition: all 300ms ease-in-out;
}
@media (max-width: 23.125em) {
  .features__item-subheading {
    line-height: 1.25;
  }
}

.testimonials {
  padding: 8.125rem 0.625rem;
}
.testimonials__wrapper {
  max-width: 1200px;
  margin-inline: auto;
}
.testimonials__text {
  max-width: 31.25rem;
  margin-inline: auto;
  margin-bottom: 2.5rem;
  text-align: center;
}
.testimonials-slider {
  max-width: 75rem;
  margin-inline: auto;
}
.testimonials-slider .swiper-slide {
  padding-inline: 0.625rem;
}
@media (min-width: 40em) {
  .testimonials-slider .swiper-slide {
    padding-left: 4.25rem;
    padding-right: 0.95rem;
  }
}
@media (min-width: 87.5em) {
  .testimonials-slider .swiper-slide {
    padding-inline: 5.25rem;
  }
}
.testimonials-slider__item {
  position: relative;
  padding: 4.375rem 3.125rem 2.5rem 4.375rem;
  width: 100%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.04);
  background-color: var(--clr-neutral-100);
  user-select: none;
}
@media (min-width: 87.5em) {
  .testimonials-slider__item {
    width: 31.25rem;
  }
}
.testimonials-slider__item::before {
  content: "”";
  position: absolute;
  right: 1.875rem;
  top: 50%;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 12.5rem;
  opacity: 0.04;
  color: var(--clr-neutral-900);
  transform: translateY(-50%);
}
.testimonials-slider__img-container {
  width: 6.25rem;
  aspect-ratio: 1;
  padding: 0.3125rem;
  border-radius: 50%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.28);
  margin-bottom: 1.25rem;
}
@media (min-width: 40em) {
  .testimonials-slider__img-container {
    position: absolute;
    top: 25%;
    left: 0;
    transform: translateX(-50%);
  }
}
.testimonials-slider__img {
  width: 5.625rem;
  aspect-ratio: 1;
  border-radius: 50%;
}
.testimonials-slider__name {
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 500;
}
.testimonials-slider__occupation {
  margin-bottom: 0.625rem;
  font-size: var(--fs-md);
  font-weight: var(--fw-400);
  color: var(--clr-neutral-900);
}

/*# sourceMappingURL=index.css.map */
